{% extends 'base.html.twig' %}

{% block title %}Show Topic details{% endblock %}

{% block body %}
<div class="container py-4 px-3 mx-auto">
<a class="btn btn-light" href="{{path('show_categorie',{'id':topic.categorie.id})}}">Revenir aux topics</a>
<h1>{{topic}}</h1>
<p>Statut :
  {% if not topic.verouille and not topic.resolu%}
  non résolu

  {% else %}

  {% if topic.verouille %}
  vérouillé
  {% endif %}

  {% if topic.resolu %}
  résolu
  {% endif %}
</p>
  {% endif %}
  {% for post in topic.posts %}
  <ul>
    <li>{{post}}</li>
    {% if app.user and app.user.id==post.auteur.id %}
    <p>{{post.datePublication | date("d/m/Y à G:i:s")}}</p>
    <p><a href="{{path('edit_post', {'id':post.id})}}"><i class="fas fa-edit"></i></a>/<a
        href="{{path('delete_post', {'id':post.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a></p>
    {% endif %}
  </ul>
  {% endfor %}
  {% if(app.user) %}
  <div class="add-class">
  <h2>Répondre au topic</h2>
  <form method="POST" action="{{path('add_post',{'id':topic.id})}}">
    <div class="mb-3">
      <label for="post" class="form-label">Nouveau Post</label>
      <textarea class="form-control" type="text" name="post" id="post" placeholder="Écrire.." required></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="submit">Ajouter</button>
  </form>
</div>
  {% endif %}
</div>
{% endblock %}