{% extends 'base.html.twig' %}

{% block title %}Categorie list{% endblock %}

{% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
  }

  .example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
  }
</style>
<div class="example-wrapper">
<a href="{{path('app_categorie')}}">Revenir aux catégories</a>
  {% for topic in categorie.topics %}
  <ul>
    <li><a href="{{path('show_topic', {'id':topic.id})}}">{{topic}}</a>
      {% if app.user and app.user.id==topic.auteur.id %}
      <p>
        {% if not topic.verouille and not topic.resolu%}
          <a href="{{path('verouiller_topic', {'id':topic.id})}}">Verouiller</a>
          <a href="{{path('resoudre_topic', {'id':topic.id})}}">Resolu</a>

        {% else %}

          {% if topic.verouille %}
            <a href="{{path('verouiller_topic', {'id':topic.id})}}">Deverouiller</a>
          {% endif %}

          {% if topic.resolu %}
            <a href="{{path('resoudre_topic', {'id':topic.id})}}">Non Resolu</a>
          {% endif %}
        
        {% endif %}

      </p>
      <p><a href="{{path('edit_topic', {'id':topic.id})}}">edit</a> / <a
          href="{{path('delete_topic', {'id':topic.id})}}">delete</a></p>
      {% endif %}

    </li>
  </ul>
  {% endfor %}
  {% if(app.user) %}
  <h2>Créer un nouveau Topic</h2>
  <form method="POST" action="{{path('add_topic',{'id':categorie.id})}}">
    <p>
      <label for="titreTopic">Intitulé du topic</label>
      <input type="text" name="titreTopic" id="titreTopic" required>
    </p>
    <p>
      <label for="premierPost">Premier message</label>
      <textarea type="text" name="premierPost" id="premierPost" required></textarea>
    </p>
    <input type="submit" name="submit">
  </form>
  {% endif %}
</div>
{% endblock %}