{% extends 'base.html.twig' %}

{% block title %}Categorie list{% endblock %}

{% block body %}

<a href="{{path('app_categorie')}}">Revenir aux catégories</a>
<div class="example-wrapper">
  <h1>Liste Topics</h1>
  {% for topic in categorie.topics %}
  <ul>
    <li><a href="{{path('show_topic', {'id':topic.id})}}">{{topic}}</a>
      <p>{{topic.datePublication | date("d/m/Y à G:i:s")}}</p>
      <p>{{topic.posts | length}} <i class="fas fa-comment-alt"></i></p>
      {% if app.user and app.user.id==topic.auteur.id %}
      <p>
        {% if not topic.verouille and not topic.resolu%}
        <a href="{{path('verouiller_topic', {'id':topic.id})}}"><i class="fa fa-lock" aria-hidden="true"></i></a>
        <a href="{{path('resoudre_topic', {'id':topic.id})}}"><i class="fas fa-check-square"></i></a>

        {% else %}

        {% if topic.verouille %}
        <a href="{{path('verouiller_topic', {'id':topic.id})}}"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
        {% endif %}

        {% if topic.resolu %}
        <a href="{{path('resoudre_topic', {'id':topic.id})}}"><i class="fas fa-user-edit"></i></a>
        {% endif %}

        {% endif %}

      </p>
      <p><a href="{{path('edit_topic', {'id':topic.id})}}"><i class="fas fa-edit"></i></a> / <a
          href="{{path('delete_topic', {'id':topic.id})}}"><i class="fa fa-trash" aria-hidden="true"></i>
        </a></p>
      {% endif %}

    </li>
  </ul>
  {% endfor %}
  {% if(app.user) %}
  <h2>Créer un nouveau Topic</h2>
  <form method="POST" action="{{path('add_topic',{'id':categorie.id})}}">
    <p>
      <label for="titreTopic">Intitulé du topic</label>
      <input type="text" name="titreTopic" id="titreTopic" required>
    </p>
    <p>
      <label for="premierPost">Premier message</label>
      <textarea type="text" name="premierPost" id="premierPost" required></textarea>
    </p>
    <input type="submit" name="submit">
  </form>
  {% endif %}
</div>
{% endblock %}